:root {
    --console-color: lightgray;
    --screen-color: #918e8e;
    --buttons-color: #008cff;
    --press-buttons-color: #0082ff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    font-size: clamp(14px, 3vw, 16px);
    margin: 0;
    padding: clamp(4px, 5vw, 40px) clamp(2px, 5vw, 20px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#console {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 20px;
    width: 98vw;
    max-width: 450px;
}

#console-top {
    padding: clamp(30px, 5vw, 60px);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(238, 237, 237, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--console-color);
    background-image: url("img/bg.webp"), url("img/bg.webp");
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    background-size: clamp(30px, 5vw, 60px) auto;
}

#console-bottom {
    background-color: var(--console-color);
    padding: clamp(30px, 5vw, 60px) clamp(20px, 5vw, 40px) clamp(15px, 4vw, 30px);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(238, 237, 237, 0.1)
}


hr.separator {
    width: 90%;
    border: 0;
    height: 2px;
    background-color: #B0B0B0;
    margin: 0;
    margin: auto;
}


#screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--screen-color);
    border: clamp(5px, 2vw, 10px) inset var(--console-color);
}

header {
    text-align: center;
    margin: 5px;
    width: 100%;
}

h3 {
    margin: 0;
    padding: 0 10px;
    font-size: clamp(12px, 3vw, 16px);
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5em;
}

h3>span {
    flex: 2 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    align-items: top;
}

.side-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: clamp(0.5em, 2vw, 1em);
}

#status {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    white-space: pre-line;
    animation: blink 3s ease-in-out 1s infinite;
}

#sound {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lines {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: smaller;
}

/* Plansza główna */
#grid {
    width: 45vw;
    max-width: 200px;
    aspect-ratio: 1/2;
    border-top: #000 2px solid;
    border-right: #000 2px solid;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

/* Komórka klocka */
.tetromino {
    border: 1px solid var(--screen-color);
    box-sizing: border-box;
}

/* Komórki już "położone" */
.tetromino.placed {
    background-color: #444;
}

/* Mini-grid (następna figura) */
#mini-grid {
    width: 20vw;
    max-width: 80px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    margin: 20px 10px;
}

/* Komórki mini-gridu */
#mini-grid .tetromino {
    border: 1px solid var(--screen-color);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* Pozycjonowanie przycisków */
#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "leftArrow rightArrow rotate"
        "bottomArrow bottomArrow rotate"
        "controls controls controls";
    gap: 0;
}

.leftArrow {
    grid-area: leftArrow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightArrow {
    grid-area: rightArrow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate {
    grid-area: rotate;
    display: flex;
    justify-content: end;
    align-items: top;
    padding-right: 0.5em;
}

.bottomArrow {
    grid-area: bottomArrow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    grid-area: controls;
    margin-top: clamp(3em, 5vw, 4em);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1em, 5vw, 2em);
}

#left-button,
#right-button,
#down-button {
    width: clamp(40px, 10vw, 60px);
    height: clamp(40px, 10vw, 60px);
    font-size: clamp(14px, 3vw, 18px);
}

#rotate-button {
    width: clamp(60px, 15vw, 100px);
    height: clamp(60px, 15vw, 100px);
    font-size: clamp(18px, 5vw, 24px);
}

#start-button,
#sound-button,
#pause-button {
    width: clamp(40px, 8vw, 50px);
    height: clamp(40px, 8vw, 50px);
    font-size: clamp(12px, 2.5vw, 16px);
}

#buttons button {
    border-radius: 50%;
    border: 4px groove rgb(128, 128, 128);
    background-color: var(--buttons-color);
    cursor: pointer;
    font-weight: bolder;
}

#buttons button:active {
    background-color: var(--press-buttons-color);
    border: 3px solid rgb(100, 100, 100);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: clamp(10px, 15vw, 70px) auto 0;
    font-size: clamp(80px, 20vw, 160px);
    cursor: default;
}

.logo>img {
    max-width: 350px;
    width: 100%;
    height: auto;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }
}